<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=2WxnwXEZKXEZiugumviafbER6NK5gNIB" #Make sure to change ******* to your API key.
response = requests.request('GET',url)
result = response.text

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
result

'{\n    "success": true,\n    "timestamp": 1671975483,\n    "base": "EUR",\n    "date": "2022-12-25",\n    "rates": {\n        "AED": 3.918215,\n        "AFN": 92.809886,\n        "ALL": 114.518811,\n        "AMD": 420.107402,\n        "ANG": 1.922389,\n        "AOA": 537.516212,\n        "ARS": 185.563896,\n        "AUD": 1.587474,\n        "AWG": 1.922863,\n        "AZN": 1.817754,\n        "BAM": 1.965273,\n        "BBD": 2.153631,\n        "BDT": 112.903913,\n        "BGN": 1.964021,\n        "BHD": 0.401465,\n        "BIF": 2199.691668,\n        "BMD": 1.066776,\n        "BND": 1.440511,\n        "BOB": 7.370482,\n        "BRL": 5.510755,\n        "BSD": 1.066665,\n        "BTC": 6.3411208e-05,\n        "BTN": 88.341167,\n        "BWP": 13.674902,\n        "BYN": 2.691935,\n        "BYR": 20908.805379,\n        "BZD": 2.149729,\n        "CAD": 1.455563,\n        "CDF": 2170.889108,\n        "CHF": 0.995616,\n        "CLF": 0.033944,\n        "CLP": 936.629524,\n        "CNY": 7.456447,\n        "COP": 5048.036352,\n        "CRC": 620.732578,\n        "CUC": 1.066776,\n        "CUP": 28.269558,\n        "CVE": 111.184749,\n        "CZK": 24.315501,\n        "DJF": 189.587812,\n        "DKK": 7.475009,\n        "DOP": 59.473169,\n        "DZD": 146.719051,\n        "EGP": 26.27071,\n        "ERN": 16.001637,\n        "ETB": 57.205894,\n        "EUR": 1,\n        "FJD": 2.380515,\n        "FKP": 0.885142,\n        "GBP": 0.885071,\n        "GEL": 2.853668,\n        "GGP": 0.885142,\n        "GHS": 10.668138,\n        "GIP": 0.885142,\n        "GMD": 66.087176,\n        "GNF": 9360.957889,\n        "GTQ": 8.381673,\n        "GYD": 223.161563,\n        "HKD": 8.327519,\n        "HNL": 26.328441,\n        "HRK": 7.574326,\n        "HTG": 156.795971,\n        "HUF": 402.462914,\n        "IDR": 16623.033664,\n        "ILS": 3.736116,\n        "IMP": 0.885142,\n        "INR": 88.120321,\n        "IQD": 1558.026033,\n        "IRR": 44484.550595,\n        "ISK": 153.040066,\n        "JEP": 0.885142,\n        "JMD": 162.57148,\n        "JOD": 0.756668,\n        "JPY": 141.630529,\n        "KES": 131.587204,\n        "KGS": 91.401759,\n        "KHR": 4389.782728,\n        "KMF": 495.037713,\n        "KPW": 960.09796,\n        "KRW": 1365.72944,\n        "KWD": 0.326925,\n        "KYD": 0.888888,\n        "KZT": 492.540497,\n        "LAK": 18497.892478,\n        "LBP": 1623.633116,\n        "LKR": 389.8571,\n        "LRD": 164.763927,\n        "LSL": 18.124928,\n        "LTL": 3.149912,\n        "LVL": 0.645282,\n        "LYD": 5.142266,\n        "MAD": 11.206521,\n        "MDL": 20.527527,\n        "MGA": 4752.486491,\n        "MKD": 61.839964,\n        "MMK": 2239.944442,\n        "MNT": 3673.826571,\n        "MOP": 8.570807,\n        "MRO": 380.838772,\n        "MUR": 47.141226,\n        "MVR": 16.432338,\n        "MWK": 1092.91578,\n        "MXN": 20.667932,\n        "MYR": 4.720524,\n        "MZN": 68.092701,\n        "NAD": 18.124923,\n        "NGN": 476.454471,\n        "NIO": 38.841708,\n        "NOK": 10.594055,\n        "NPR": 141.345706,\n        "NZD": 1.694371,\n        "OMR": 0.410688,\n        "PAB": 1.066525,\n        "PEN": 4.057486,\n        "PGK": 3.755451,\n        "PHP": 58.912734,\n        "PKR": 240.56189,\n        "PLN": 4.663238,\n        "PYG": 7795.178311,\n        "QAR": 3.884172,\n        "RON": 4.935869,\n        "RSD": 117.911126,\n        "RUB": 74.941397,\n        "RWF": 1138.249762,\n        "SAR": 4.011787,\n        "SBD": 8.787429,\n        "SCR": 15.194644,\n        "SDG": 610.73306,\n        "SEK": 11.235393,\n        "SGD": 1.441645,\n        "SHP": 1.469381,\n        "SLE": 20.124752,\n        "SLL": 20103.390022,\n        "SOS": 606.465943,\n        "SRD": 33.75176,\n        "STD": 22080.10493,\n        "SVC": 9.33307,\n        "SYP": 2680.295585,\n        "SZL": 18.124915,\n        "THB": 37.049517,\n        "TJS": 10.885235,\n        "TMT": 3.744383,\n        "TND": 3.34488,\n        "TOP": 2.518178,\n        "TRY": 19.912121,\n        "TTD": 7.239938,\n        "TWD": 32.814134,\n        "TZS": 2489.855039,\n        "UAH": 39.389263,\n        "UGX": 3882.052999,\n        "USD": 1.066776,\n        "UYU": 40.910943,\n        "UZS": 11974.558539,\n        "VEF": 1751266.473562,\n        "VES": 17.5293,\n        "VND": 25159.90688,\n        "VUV": 126.336814,\n        "WST": 2.90044,\n        "XAF": 659.210976,\n        "XAG": 0.044925,\n        "XAU": 0.000593,\n        "XCD": 2.883015,\n        "XDR": 0.801155,\n        "XOF": 658.737885,\n        "XPF": 120.386035,\n        "YER": 267.017812,\n        "ZAR": 18.150021,\n        "ZMK": 9602.266021,\n        "ZMW": 19.100979,\n        "ZWL": 343.501367\n    }\n}\n'

In [5]:
# Turn the data into a dataframe
df = pd.read_json(result)
df

     success           timestamp base       date        rates
AED     True 2022-12-25 13:38:03  EUR 2022-12-25     3.918215
AFN     True 2022-12-25 13:38:03  EUR 2022-12-25    92.809886
ALL     True 2022-12-25 13:38:03  EUR 2022-12-25   114.518811
AMD     True 2022-12-25 13:38:03  EUR 2022-12-25   420.107402
ANG     True 2022-12-25 13:38:03  EUR 2022-12-25     1.922389
..       ...                 ...  ...        ...          ...
YER     True 2022-12-25 13:38:03  EUR 2022-12-25   267.017812
ZAR     True 2022-12-25 13:38:03  EUR 2022-12-25    18.150021
ZMK     True 2022-12-25 13:38:03  EUR 2022-12-25  9602.266021
ZMW     True 2022-12-25 13:38:03  EUR 2022-12-25    19.100979
ZWL     True 2022-12-25 13:38:03  EUR 2022-12-25   343.501367

[170 rows x 5 columns]

In [8]:
df.reset_index()

    index  success           timestamp base       date        rates
0     AED     True 2022-12-25 13:38:03  EUR 2022-12-25     3.918215
1     AFN     True 2022-12-25 13:38:03  EUR 2022-12-25    92.809886
2     ALL     True 2022-12-25 13:38:03  EUR 2022-12-25   114.518811
3     AMD     True 2022-12-25 13:38:03  EUR 2022-12-25   420.107402
4     ANG     True 2022-12-25 13:38:03  EUR 2022-12-25     1.922389
..    ...      ...                 ...  ...        ...          ...
165   YER     True 2022-12-25 13:38:03  EUR 2022-12-25   267.017812
166   ZAR     True 2022-12-25 13:38:03  EUR 2022-12-25    18.150021
167   ZMK     True 2022-12-25 13:38:03  EUR 2022-12-25  9602.266021
168   ZMW     True 2022-12-25 13:38:03  EUR 2022-12-25    19.100979
169   ZWL     True 2022-12-25 13:38:03  EUR 2022-12-25   343.501367

[170 rows x 6 columns]

In [10]:
df[df.index == 'GBP']

     success           timestamp base       date     rates
GBP     True 2022-12-25 13:38:03  EUR 2022-12-25  0.885071

In [6]:
# Drop unnescessary columns

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [7]:
# Save the Dataframe

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).