In [1]:
import os 
import pandas as pd

In [2]:
pathfolder = r'D:\MindX\BI\BI_test'

In [3]:
cus = pd.read_csv(os.path.join(pathfolder,'olist_customers_dataset.csv'))
geo = pd.read_csv(os.path.join(pathfolder,'olist_geolocation_dataset.csv'))

order = pd.read_csv(os.path.join(pathfolder,'olist_orders_dataset.csv'))
order_item = pd.read_csv(os.path.join(pathfolder,'olist_order_items_dataset.csv'))
order_pay = pd.read_csv(os.path.join(pathfolder,'olist_order_payments_dataset.csv'))
order_review = pd.read_csv(os.path.join(pathfolder,'olist_order_reviews_dataset.csv'))

seller = pd.read_csv(os.path.join(pathfolder,'olist_sellers_dataset.csv'))

product = pd.read_csv(os.path.join(pathfolder,'olist_products_dataset.csv'))
product_ca = pd.read_csv(os.path.join(pathfolder,'product_category_name_translation.csv'))

In [15]:
def show_value(x):
    return list(set(x))

In [37]:
order

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [34]:
order_item.sort_values(by='order_id',ascending=True)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [57]:
order_all4 = order.merge(order_pay, on='order_id')
order_all4 = order_all4.merge(order_item, on='order_id')
order_all41 = order_all4.groupyby([''])
order_all4

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,1,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,1,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,1,18.59
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1,boleto,1,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1,credit_card,3,179.12
...,...,...,...,...,...,...,...,...,...,...,...,...
103881,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,1,credit_card,3,85.08
103882,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,1,credit_card,3,195.00
103883,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,1,credit_card,5,271.01
103884,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,1,credit_card,4,441.16
103885,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,1,debit_card,1,86.86

In [76]:
cus

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [78]:
cus.groupby(['customer_id','customer_unique_id']).agg(customer_id= ('customer_id','nunique'),
                                                      customer_unique_id = ('customer_unique_id','nunique'))

,,customer_id,customer_unique_id
customer_id,customer_unique_id,,
00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,1,1
000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,1,1
0001fd6190edaaf884bcaf3d49edf079,94b11d37cd61cb2994a194d11f89682b,1,1
0002414f95344307404f0ace7a26f1d5,4893ad4ea28b2c5b3ddf4e82e79db9e6,1,1
000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,1,1
...,...,...,...
fffecc9f79fd8c764f843e9951b11341,e5794df8573fa179a90a7b797fc4b71f,1,1
fffeda5b6d849fbd39689bb92087f431,afbb5a642107cf6bb1ca68e863175f03,1,1
ffff42319e9b2d713724ae527742af25,680213db6ebd9e4f24d03280cbe10346,1,1
ffffa3172527f765de70084a7e53aae8,48fd7dec70f2b104a1d5e8c5c639102b,1,1
ffffe8b65bbe3087b653a978c870db99,736e6bfa0510aa5b878881a226a5fd89,1,1

In [86]:
f = order.merge(cus,on='customer_id')
f = f.groupby(['customer_unique_id']).agg(fer=('order_id','nunique'))
f

                                  fer
customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2    1
0000b849f77a49e4a4ce2b2a4ca5be3f    1
0000f46a3911fa3c0805444483337064    1
0000f6ccb0745a6a4b88665a16c9f078    1
0004aac84e0df4da2b147fca70cf8255    1
...                               ...
fffcf5a5ff07b0908bd4e2dbc735a684    1
fffea47cd6d3cc0a88bd621562a9d061    1
ffff371b4d645b6ecea244b27531430a    1
ffff5962728ec6157033ef9805bacc48    1
ffffd2657e2aad2907e67c3e9daecbeb    1

[96096 rows x 1 columns]

In [89]:
f.describe()

                fer
count  96096.000000
mean       1.034809
std        0.214384
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       17.000000

In [90]:
f.sort_values(by='fer')

                                  fer
customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2    1
a926cfc9bc7b082335de50450f48eec9    1
a926aae38267e7f54e67de9b5775d0a5    1
a92605ec492805540520d3a73aaeeb6e    1
a925c3e5df82fdc6082f1383d2834998    1
...                               ...
ca77025e7201e3b30c44b472ff346268    7
6469f99c1f9dfae7733b25662e7f1782    7
1b6c7548a2a1f9037c1fd3ddfed95f33    7
3e43e6105506432c953e165fb2acf44c    9
8d50f5eadf50201ccdcedfb9e2ac8455   17

[96096 rows x 1 columns]

In [59]:
order_all4['payment_value'].mean()

154.10038041698772

In [60]:
order_all = order.merge(order_pay, on='order_id')
order_all['order_estimated_delivery_date'] = pd.to_datetime(order_all['order_estimated_delivery_date'])
order_all['monthY'] = order_all['order_estimated_delivery_date'].dt.year.astype('str') + '-' + order_all['order_estimated_delivery_date'].dt.month.astype('str')
order_all = order_all.groupby(['monthY']).agg(payment_value = ('payment_value','sum'),
                                              order_id = ('order_id','nunique')
                                              ).reset_index()
order_all['AOV'] = order_all['payment_value'] / order_all['order_id']
order_all['monthY'] = pd.to_datetime(order_all['monthY'])

order_all.sort_values(by='monthY',inplace=True)
order_all

       monthY  payment_value  order_id         AOV
3  2016-09-01          40.95         1   40.950000
0  2016-10-01         428.08         5   85.616000
1  2016-11-01       28684.40       171  167.745029
2  2016-12-01       29445.44       148  198.955676
4  2017-01-01         763.47         3  254.490000
8  2017-02-01       47878.07       316  151.512880
9  2017-03-01      457067.26      2801  163.180029
10 2017-04-01      392187.75      2235  175.475503
11 2017-05-01      494233.87      3037  162.737527
12 2017-06-01      592994.19      3639  162.955260
13 2017-07-01      512789.30      3331  153.944551
14 2017-08-01      645571.75      4367  147.829574
15 2017-09-01      720444.28      4420  162.996443
5  2017-10-01      689714.32      4145  166.396700
6  2017-11-01      787576.86      4705  167.391469
7  2017-12-01     1149177.18      7318  157.034324
16 2018-01-01      852852.29      5607  152.104921
19 2018-02-01      945483.57      6304  149.981531
20 2018-03-01     1331055.10      8779  151.618077
21 2018-04-01     1109336.86      6766  163.957561
22 2018-05-01     1304215.53      8008  162.864077
23 2018-06-01      790101.34      4660  169.549644
24 2018-07-01     1207964.50      7210  167.540153
25 2018-08-01     1559509.11      9400  165.905224
26 2018-09-01      347679.64      2001  173.752944
17 2018-10-01       11454.98        62  184.757742
18 2018-11-01         222.03         1  222.030000

In [56]:
import plotly.express as px 
from plotly.subplots import make_subplots
import plotly.graph_objects as go

# combo bar and line

fig = make_subplots(specs=[[{"secondary_y": True}]])

fig.update_layout(
		width=800,
    height=400,
		legend=dict(
	    orientation="h",
	    yanchor="bottom",
	    y=1.05,
	    xanchor="left",
	    x=0.01)
	)

fig.add_trace(
	go.Bar(x=order_all.monthY, 
		   y=order_all['order_id'], 
		   name='TrGiaXK', 
		   marker_color='rgb(2, 8, 61)'),
		secondary_y=False
)

fig.add_trace(
    go.Scatter(x=order_all.monthY, 
               y=order_all['payment_value'], 
               name='KimNgach%' ,mode="lines+markers"
               ),
    secondary_y=True
)

In [64]:
product_ca

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [73]:
order_pay

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [75]:
order_all4ca = order.merge(order_pay, on='order_id')
order_all4ca = order_all4ca.merge(order_item, on='order_id')
order_all4ca = order_all4ca.merge(product, on='product_id')
order_all4ca = order_all4ca.merge(product_ca, on='product_category_name')
order_all4ca['order_estimated_delivery_date'] = pd.to_datetime(order_all4ca['order_estimated_delivery_date'])
order_all4ca['monthY'] = order_all4ca['order_estimated_delivery_date'].dt.year.astype('str') + '-' + order_all4ca['order_estimated_delivery_date'].dt.month.astype('str')
order_all4ca = order_all4ca.groupby(['monthY','payment_type']).agg(payment_value = ('payment_value','sum'),
                                                                                    order_id = ('order_id','nunique')
                                                                                    ).reset_index()
order_all4ca['AOV'] = order_all4ca['payment_value'] / order_all4ca['order_id']
order_all4ca

     monthY payment_type  payment_value  order_id         AOV
0   2016-10       boleto          45.46         1   45.460000
1   2016-10  credit_card         456.86         3  152.286667
2   2016-11       boleto        4945.78        21  235.513333
3   2016-11  credit_card       30180.94       133  226.924361
4   2016-11   debit_card         176.23         1  176.230000
..      ...          ...            ...       ...         ...
90   2018-8      voucher       28491.98       288   98.930486
91   2018-9       boleto       51718.21       318  162.635881
92   2018-9  credit_card      328958.57      1510  217.853358
93   2018-9   debit_card       16730.69        85  196.831647
94   2018-9      voucher        8119.07        60  135.317833

[95 rows x 5 columns]

In [29]:
cus_all = cus.merge(geo, left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix', how='left')
cus_all = cus_all.merge(order, on='customer_id',how='left')
cus_all = cus_all.merge(order_item, on='order_id', how='left')
cus_all

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,...,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.509897,-47.397866,franca,SP,...,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.497396,-47.399241,franca,SP,...,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.510459,-47.399553,franca,SP,...,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.480940,-47.394161,franca,SP,...,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.515413,-47.398194,franca,SP,...,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17313736,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,6703.0,-23.599369,-46.905603,cotia,SP,...,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,1.0,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78
17313737,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,6703.0,-23.593577,-46.910112,cotia,SP,...,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,1.0,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78
17313738,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,6703.0,-23.584425,-46.892014,cotia,SP,...,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,1.0,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78
17313739,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,6703.0,-23.595022,-46.918546,cotia,SP,...,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,1.0,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78
17313740,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,6703.0,-23.594067,-46.909609,cotia,SP,...,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,1.0,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78

In [27]:
cus_all.duplicated().sum()

5438240